__pycache__
.idea
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/
.idea/
.vscode/
.DS_Store
outputs/
preprocessed_data/
*.pkl
*.pickle
*.pth
*.pt
*.ckpt
*.log
*.csv
logs/
lightning_logs/
tensorboard_logs/
mlruns/